body {
  margin: 0px;
  font-family: monospace;
}

.create-payment-container {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 400px;
  padding-bottom: 0px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.create-payment-container div {
  margin-bottom: 20px;
}

.create-payment-container label {
  display: block;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.create-payment-container input {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border: none;
  padding: 10px;
  padding-left: 10px;
  font-family: monospace;
}

.create-payment-container button {
  height: 30px;
}

.payment-form-container {
  position: relative;
  /* background-color: white; */
  margin: auto;
  margin-top: 5%;
  width: 500px;
  padding-bottom: 0px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cardinal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  z-index: 10;
}

.form-header {
  font-family: sans-serif;
  border-bottom: 2px solid #f0f0f0;
  padding: 15px;
  background-color: #fafafa;
  text-align: center;
}

.form-header > img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #ececec;
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.form-header .info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 17px;
}

.form-header .info .title {
  font-size: 15px;
  margin-bottom: 5px;
}

.form-header .info .amount {
  color: black;
  font-size: 42px;
}

.form-page {
  display: none;
  padding: 25px;
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  /* background-color: #8898aa;   */
  background-color: rgba(18, 91, 152, 0.05);
}

.form-page.show {
  display: block;
}

.form-page.cardinal {
  min-height: 350px;
}

.back-control {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.back-control * {
  vertical-align: middle;
  cursor: pointer;
}

.back-control img {
  width: 16px;
  height: 16px;
}

.back-control label {
  color: #0076ff;
  font-family: sans-serif;
  display: inline-block;
  font-size: 16px;
  padding-left: 3px;
}

.form-control {
  margin-top: 35px;
  font-size: 0px;
  font-family: monospace;
}

.form-control:first-of-type {
  margin-top: 0px;
}

.form-group {
  font-size: 0px;
}

.form-group .form-control {
  /* width: calc(33%); */
  display: inline-block;
}

.c1 {
  width: 60%;
}
.c2 {
  width: 20%;
}
.c3 {
  width: 20%;
}

.payment-field {
  display: inline-block;
  height: 35px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  transition: border-bottom-color 0.3s;
}

.form-text {
  font-size: 16px;
  line-height: 30px;
  font-family: monospace;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 98%;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: monospace;
  border-radius: 5px;
  margin-bottom: 5px;
}

.button-container button.blue {
  background: #5fabdc;
}

.button-container button.purple {
  background: #d782d9;
}

.button-container button.green {
  background: #5fdc91;
}

.button-container button.orange {
  background: #e3a83b;
}

.button-container button:hover {
  opacity: 0.8;
}

.button-container button:active {
  opacity: 0.9;
}

.form-page.pin .back-control,
.form-page.otp .back-control {
  margin-bottom: 40px;
}

.notification-box {
  display: none;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px;
  box-sizing: border-box;
}

.notification-box.show {
  display: block;
}

.notification-box .content {
  min-height: 20px;
  border-radius: 5px;
  padding: 6px;
  color: white;
  font-size: 16px;
  font-family: monospace;
}

.notification-box .content.error {
  background-color: #e97a7a;
}

.notification-box .content.success {
  background-color: #5cd796;
}

.payment-body {
  background-color: white;
  border-radius: 5px;
}

#validate-loading,
#payment-loading,
#continue-loading {
  display: none;
}
